html {
background-color: #208286;
text-align: center;
color: white;
}

footer {

}
fa fa-chevron-down {
  text-align: center;
  font-size: 25px;
  color: white;
}

/* Navigation */

*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {	font-family: 'Avenir Next LT Pro Heavy', sans-serif;
}
p{font-family: 'Avenir Next LT Pro', sans-serif;}
section {
	margin: 0 auto;
	padding: 10em 3em;
	text-align: center;
}
.color-8 {
background: #ecf0f1;
}
nav a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}
nav a:hover,
nav a:focus {
	outline: none;
}

/* Border Transition: Slides Up */
.cl-effect-7 a {
	padding: 12px 10px 10px;
	color: #208286;
	text-shadow: none;
	font-weight: 700;
}

.cl-effect-7 a::before,
.cl-effect-7 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background: #566473;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	transform: scale(0.85);
}

.cl-effect-7 a::after {
	opacity: 0;
	-webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

.cl-effect-7 a:hover::before,
.cl-effect-7 a:hover::after,
.cl-effect-7 a:focus::before,
.cl-effect-7 a:focus::after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}

.cl-effect-7 a:hover::after,
.cl-effect-7 a:focus::after {
	top: 0%;
	opacity: 1;
}

/* Animation */

/* The GRRReat Grid */
.grid {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	width: 100%;
	text-align: center;
}

.grid li {
	position: relative;
	float: left;
	font-size: 12em;
	line-height: 1.5;
	max-height: 290px;
	text-align: center;
	width: 16.6666667%;
/* Turn Down on Letters */
	width: -webkit-calc(100% / 6);
	width: calc(100% / 6);
}

/* Letter Style */
.grid li span {
	display: inline-block;
	font-weight: 900;
	line-height: 1;
	position: relative;
	color: #EFDF17;

	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 550px;
	-ms-perspective: 550px;
	perspective: 550px;
	z-index: 1;
}

.grid li span:before,
.grid li span:after {
	position: absolute;
	content: attr(data-letter);
	line-height: inherit;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.grid li span:before {
	text-shadow: none;
	color: #208286;
}


/* Left turn */
.ot-letter-left span:before,
.ot-letter-left span:after {
	-webkit-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

.ot-letter-left span:before {
	-webkit-transform: scale(1.08,1) skew(0deg,1deg);
	-ms-transform: scale(1.08,1) skew(0deg,1deg);
	transform: scale(1.08,1) skew(0deg,1deg);
}

.ot-letter-left span:after {
	text-shadow: -1px 0px 0px hsla(360, 100%, 100%, 0.1), 3px 0px 1px hsla(0, 0%, 0%, 0.4);
	-webkit-transform: rotateY(-15deg);
	-ms-transform: rotateY(-15deg);
	transform: rotateY(-15deg);
}

.ot-letter-left:hover span:before {
	-webkit-transform: scale(0.85,1) skew(0deg,20deg);
	-ms-transform: scale(0.85,1) skew(0deg,20deg);
	transform: scale(0.85,1) skew(0deg,20deg);
}

.ot-letter-left:hover span:after {
	-webkit-transform: rotateY(-40deg);
	-ms-transform: rotateY(-40deg);
	transform: rotateY(-40deg);
}

/* Turning Right */
.ot-letter-right span:before,
.ot-letter-right span:after {
	-webkit-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

.ot-letter-right span:before {
	-webkit-transform: scale(0.85,1) skew(0deg,1deg);
	-ms-transform: scale(0.85,1) skew(0deg,1deg);
	transform: scale(0.85,1) skew(0deg,1deg);
}

.ot-letter-right span:after {
	text-shadow: 1px 0px 0px hsla(360, 100%, 100%, 0.1), -3px 0px 1px hsla(0, 0%, 0%, 0.4);
	-webkit-transform: rotateY(15deg);
	-ms-transform: rotateY(15deg);
	transform: rotateY(15deg);
}

.ot-letter-right:hover span:before {
	-webkit-transform: scale(0.85,1) skew(0deg,-20deg);
	-ms-transform: scale(0.85,1) skew(0deg,-20deg);
	transform: scale(0.85,1) skew(0deg,-20deg);
}

.ot-letter-right:hover span:after {
	-webkit-transform: rotateY(40deg);
	-ms-transform: rotateY(40deg);
	transform: rotateY(40deg);
}

/* Up Swivel */
.ot-letter-top span:before,
.ot-letter-top span:after {
	-webkit-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

.ot-letter-top span:before {
	-webkit-transform: scale(1,0.95) skew(-4deg,0deg);
	-ms-transform: scale(1,0.95) skew(-4deg,0deg);
	transform: scale(1,0.95) skew(-4deg,0deg);
}

.ot-letter-top span:after {
	text-shadow: 0px 1px 0px hsla(360, 100%, 100%, 0.1), 0px -3px 1px hsla(0, 0%, 0%, 0.4);
	-webkit-transform: rotateX(-15deg);
	-ms-transform: rotateX(-15deg);
	transform: rotateX(-15deg);
}

.ot-letter-top:hover span:before {
	-webkit-transform: translateY(-0.050em) scale(1,0.55) skew(-10deg,0deg);
	-ms-transform: translateY(-0.050em) scale(1,0.55) skew(-10deg,0deg);
	transform: translateY(-0.050em) scale(1,0.55) skew(-10deg,0deg);
}

.ot-letter-top:hover span:after {
	-webkit-transform: translateY(-0.035em) rotateX(-40deg);
	-ms-transform: translateY(-0.035em) rotateX(-40deg);
	transform: translateY(-0.035em) rotateX(-40deg);
}

/* Down Swivel */
.ot-letter-bottom span:before,
.ot-letter-bottom span:after {
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
}

.ot-letter-bottom span:before {
	-webkit-transform: scale(1,1.05) skew(4deg,0deg);
	-ms-transform: scale(1,1.05) skew(4deg,0deg);
	transform: scale(1,1.05) skew(4deg,0deg);
}

.ot-letter-bottom span:after {
	text-shadow: 0px -1px 0px hsla(360, 100%, 100%, 0.1), 0px 3px 1px hsla(0, 0%, 0%, 0.4);
	-webkit-transform: rotateX(15deg);
	-ms-transform: rotateX(15deg);
	transform: rotateX(15deg);
}

.ot-letter-bottom:hover span:before {
	-webkit-transform: translateY(-0.035em) scale(1,1.2) skew(10deg,0deg);
	-ms-transform: translateY(-0.035em) scale(1,1.2) skew(10deg,0deg);
	transform: translateY(-0.035em) scale(1,1.2) skew(10deg,0deg);
}

.ot-letter-bottom:hover span:after {
	-webkit-transform: translateY(0.045em) rotateX(40deg);
	-ms-transform: translateY(0.045em) rotateX(40deg);
	transform: translateY(0.045em) rotateX(40deg);
}
/* Media Queries */
@media screen and (max-width: 1190px) {
	.grid li {
		width: 20%;
		/* Fallback */
		width: -webkit-calc(100% / 5);
		width: calc(100% / 5);
	}
}

@media screen and (max-width: 945px) {
	.grid li {
		width: 25%;
		/* Fallback */
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
	}
}

@media screen and (max-width: 760px) {
	.grid li {
		width: 33.3333333%;
		/* Fallback */
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}
}

@media screen and (max-width: 560px) {
	.grid li {
		width: 50%;
		/* Fallback */
		width: -webkit-calc(100% / 2);
		width: calc(100% / 2);
	}
}

@media screen and (max-width: 340px) {
	.grid li {
		width: 100%;
	}
}




/* Fonts */

@font-face {
font-family: 'Avenir Next LT Pro Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Condensed'), url('AvenirNextLTPro-Cn.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Demi';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Demi'), url('AvenirNextLTPro-Demi.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Demi Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Demi Condensed'), url('AvenirNextLTPro-DemiCn.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Heavy Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Heavy Condensed'), url('AvenirNextLTPro-HeavyCn.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Medium Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Medium Condensed'), url('AvenirNextLTPro-MediumCn.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Regular';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Regular'), url('AvenirNextLTPro-Regular.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Ultra Light Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Ultra Light Condensed'), url('AvenirNextLTPro-UltLtCn.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Bold';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Bold'), url('AvenirNextLTPro-Bold.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Bold Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Bold Condensed'), url('AvenirNextLTPro-BoldCn.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Bold Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Bold Condensed Italic'), url('AvenirNextLTPro-BoldCnIt.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Condensed Italic'), url('AvenirNextLTPro-CnIt.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Demi Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Demi Condensed Italic'), url('AvenirNextLTPro-DemiCnIt.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Demi Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Demi Italic'), url('AvenirNextLTPro-DemiIt.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Heavy Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Heavy Condensed Italic'), url('AvenirNextLTPro-HeavyCnIt.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Italic'), url('AvenirNextLTPro-It.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Medium Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Medium Condensed Italic'), url('AvenirNextLTPro-MediumCnIt.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Ultra Light Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Ultra Light Condensed Italic'), url('AvenirNextLTPro-UltLtCnIt.woff') format('woff');
}



/* Buttons */
.button {
   border-top: 1px solid #ffffff;
   background: #c6b8f5;
   background: -webkit-gradient(linear, left top, left bottom, from(#8f96e0), to(#c6b8f5));
   background: -webkit-linear-gradient(top, #8f96e0, #c6b8f5);
   background: -moz-linear-gradient(top, #8f96e0, #c6b8f5);
   background: -ms-linear-gradient(top, #8f96e0, #c6b8f5);
   background: -o-linear-gradient(top, #8f96e0, #c6b8f5);
   padding: 14px 28px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 22px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #9eb3f2;
   background: #9eb3f2;
   color: #ffffff;
   }
.button:active {
   border-top-color: #ffffff;
   background: #ffffff;
   color: black;
   }
